/* Disable blue highlight of clickable elements on Android */
* {
    -webkit-tap-highlight-color: transparent;
    
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.ignoreCursor
{
	pointer-events: none;
}

.hidden
{
	display: none;
}