#game
{
	touch-action: none; /* Without it, touch dragging would be reset after a few moments by browser */
	fill: black;
	font-family: sans-serif;
	font-size: 100%;
}

.tile
{
	overflow: visible;
}

#tileArea
{
	fill: rgba(0, 255, 0, 0);
	stroke: none;
	cursor: pointer;
}