#game
{
	touch-action: none; /* Without it, touch dragging would be reset after a few moments by browser */
	fill: black;
	font-family: sans-serif;
	font-size: 100%;
}

#tiles
{
	overflow: visible;
}

.gameStateDefault
{
	cursor: default;
}

.gameStateMove
{
	cursor: move;
}

.tile, .tileHidden
{
	overflow: visible;
}

.tileHidden
{
	display: none;
}

#tileArea
{
	fill: rgba(0, 255, 0, 0);
	stroke: none;
}

.tileStateEditable
{
	cursor: grab;
}

.tileStateEditing
{
	cursor: grabbing;
}

.tileStateConfirmed
{
	cursor: not-allowed;
}

#tilePicture
{
	pointer-events: none;
}

#tileNumber
{
	fill: red;
	font-weight: 800;
	font-size: 80px;
	stroke: white;
    stroke-width: 2px;
	pointer-events: none;
}

.textTitle
{
	font-family: "Roboto Slab", sans-serif;
	font-size: 18px;
}

.textTutorial
{
	font-family: "Roboto Slab", sans-serif;
	font-size: 18px;
	font-style: italic;
}

#note
{
	overflow: visible;
}

#note rect, #note polygon
{
	fill: black;
}

#note text
{
	font-family: "Caveat", serif;
	font-size: 32px;
	fill: white;
}

.animateTileConfirmed
{
	animation-name: animateTileConfirm;
	/* animation-delay: 0.07s; */
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
}
@keyframes animateTileConfirm {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translate(-128px, calc(-24px - 128px));
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translate(-128px, calc(-16px - 128px));
	}

	65% {
		animation-timing-function: ease-in;
		transform: translate(-128px, calc(-8px - 128px));
	}

	82% {
		animation-timing-function: ease-in;
		transform: translate(-128px, calc(-4px - 128px));
	}

	93% {
		animation-timing-function: ease-in;
		transform: translate(-128px, calc(-2px - 128px));
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translate(-128px, calc(0px - 128px));
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translate(-128px, calc(0px - 128px));
	}
}