#game
{
	touch-action: none; /* Without it, touch dragging would be reset after a few moments by browser */
	fill: white;
	font-family: sans-serif;
	font-size: 100%;
}

#tiles
{
	overflow: visible;
}

.gameStateDefault
{
	cursor: default;
}

.gameStateMove
{
	cursor: move;
}

.tile, .tileHidden
{
	overflow: visible;
}

.tileHiddenx
{
	display: none;
}

.tileCurrent
{
	filter: drop-shadow(0 0 20px white);
}

#tileArea
{
	fill: rgba(0, 255, 0, 0);
	stroke: none;
}

.tileStateEditable
{
	cursor: grab;
}

.tileStateEditing
{
	cursor: grabbing;
}

.tileStateConfirmed
{
	cursor: not-allowed;
}

#tilePicture
{
	pointer-events: none;
}

#tileNumber
{
	fill: red;
	font-weight: 800;
	font-size: 80px;
	stroke: white;
    stroke-width: 2px;
	pointer-events: none;
	display: none;
}

#outro
{
	font-family: "Roboto Slab", sans-serif;
	font-size: 250px;
	filter: drop-shadow(0 0 20px rgb(108, 66, 131));
	opacity: 0;
}

.textTutorial
{
	font-family: "Roboto Slab", sans-serif;
	font-size: 200%;
	font-style: italic;
}

.animateTileConfirmed
{
	animation-name: animateTileConfirm;
	/* animation-delay: 0.07s; */
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
}
@keyframes animateTileConfirm
{
	0%
	{
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translate(-128px, calc(-24px - 128px));
	}

	24%
	{
		opacity: 1;
	}

	40%
	{
		animation-timing-function: ease-in;
		transform: translate(-128px, calc(-16px - 128px));
	}

	65%
	{
		animation-timing-function: ease-in;
		transform: translate(-128px, calc(-8px - 128px));
	}

	82%
	{
		animation-timing-function: ease-in;
		transform: translate(-128px, calc(-4px - 128px));
	}

	93%
	{
		animation-timing-function: ease-in;
		transform: translate(-128px, calc(-2px - 128px));
	}

	25%,
	55%,
	75%,
	87%
	{
		animation-timing-function: ease-out;
		transform: translate(-128px, calc(0px - 128px));
	}

	100%
	{
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translate(-128px, calc(0px - 128px));
	}
}

.animateHeartIn
{
	animation-name: animateHeart, animateHeartBeat;
	animation-delay: 4s, 4.5s; 
	animation-duration: 0.5s, 1s;
	animation-iteration-count: 1, infinite;
	animation-timing-function: ease, ease;
	animation-fill-mode: forwards, none;
}
.animateHeartOut
{
	animation-name: animateHeart;
	animation-delay: 0;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-direction: reverse;
	animation-fill-mode: none;
}
@keyframes animateHeart {
    0%
	{
		filter: invert(0) sepia(0) saturate(1) hue-rotate(0);
    }

    50%
	{
		filter: invert(0.5) sepia(1) saturate(1) hue-rotate(-20deg);
    }
	
    100%
	{
		filter: invert(0.5) sepia(1) saturate(50) hue-rotate(-20deg) drop-shadow(0 0 40px rgba(255, 0, 0, 0.5));
    }
}

@keyframes animateHeartBeat {
    0%, 30%, 60%, 100%
	{
		transform: scale(1);
    }
	
    15%, 45%
	{
		transform: scale(1.01);
    }
}

#tutorialViewTouch
{
	animation-name: animatetutorialViewTouch;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
}
@keyframes animatetutorialViewTouch
{
    0%
	{
		opacity: 0;
    }

	30%
	{
		opacity: 0;
		r: 20px;
	}

    50%
	{
        transform: translate(0, 0);
		opacity: 0.5;
		r: 30px;
    }
	
    90%
	{
        transform: translate(0, -130px);
		opacity: 0.5;
		r: 30px;
    }
    100%
	{
        transform: translate(0, -130px);
		r: 20px;
		opacity: 0;
	}
}

.animateTutorialView
{
	animation-name: animateTutorialView;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
	animation-direction: alternate;
}
@keyframes animateTutorialView
{
    0% { transform: translate(0, 0); }
    100% { transform: translate(0, 30px); }
}

.tutorialTarget
{
	fill: rgba(207, 119, 255);
	fill-opacity: 0.05;

	stroke: rgb(207, 119, 255);
	stroke-width: 0.04;
	stroke-opacity: 0.3;
}
.animateTutorialTarget
{
	animation-name: animateTutorialTarget;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;

	transform-origin: 0.025% 0.045%;
}
@keyframes animateTutorialTarget
{
    0%
	{
        transform: scale(1);
		fill-opacity: 0.2;
		stroke-opacity: 1;
    }
	
    100%
	{
        transform: scale(1.4);
		fill-opacity: 0;
		stroke-opacity: 0;
    }
}