.note
{
	width: min(500px, 80%);
	max-height: 35vh;

	position: absolute;
	left: 50vw;
	top: 60vh;
	transform: translate(-50%, 0);

	background-color: white;
	border-radius: 10px;
	padding: 10px;

	color: black;
	font-family: Caveat, serif;
	font-size: 24px;

	pointer-events: none;
}

.note:before /* https://codepen.io/run-time/pen/VNRBJd */
{
	content: "";
	position: absolute;
	border-left: 30px solid white;
	border-right: 30px solid transparent;
	border-bottom: 30px solid white;
	border-top: 30px solid transparent;
	left: 60%;
	top: -48px;
}

.animNoteIn, .animNoteOut
{
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
}
.animNoteIn
{
	opacity: 0;
	animation-name: animFadeIn;
	animation-duration: 1s;
	animation-delay: 1.5s; 
}
.animNoteOut
{
	opacity: 1;
	animation-name: animFadeOut; /* Simply reverting "in" animation does't work */
	animation-duration: 0.2s;
}