:root {
	--outro-zoom-out: 0;
}

#outroBox
{
	position: absolute;
	left: 50vw;
	top: 50vh;
	transform: translate(-50%, -50%);
	width: 95%;

	color: white;
	text-align: center;
	opacity: 0;
}

#outroBox p
{
	font-family: "Caveat", sans-serif;
	font-size: 4vh;
}
#outroBox h1
{
    margin-top: 30vh;
	font-family: "Roboto Slab", serif;
	font-size: 10vh;
	opacity: 0;
	animation: animName 6s calc(var(--outro-zoom-out) + 2s) ease-out forwards;
}

.animOutroIn
{
	animation: animOutroIn 1.5s var(--outro-zoom-out) ease forwards;
}
.animOutroOut
{
	animation: animOutroOut 0.2s ease forwards;
}
@keyframes animOutroIn
{
    0%
	{
        opacity: 0;
    }
	
    100%
	{
        opacity: 1;
    }
}
@keyframes animOutroOut
{
    0%
	{
        opacity: 1;
    }
	
    100%
	{
        opacity: 0;
    }
}

@keyframes animName
{
    0%
	{
        opacity: 0;
        letter-spacing: 0.2em;
        filter: drop-shadow(0 0 20px white);
    }
	
    100%
	{
        opacity: 1;
        letter-spacing: 0.1em;
        filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
    }
}

#heart, #heartTarget
{
	overflow: visible;
}

#heart
{
	fill: red;
	cursor: grab;

	opacity: 0;
	animation: animFadeIn 1.5s calc(var(--outro-zoom-out) - 2s) ease forwards;
}

#heartTarget
{
	fill: rgba(0, 0, 0, 0);
	stroke: white;
	stroke-dasharray: 10;
}

.animHeartIn
{
	opacity: 0;
	/* animation: animFadeIn 1.5s calc(var(--outro-zoom-out) - 2s) ease forwards; */
	animation-name: animFadeIn;
	animation-delay: var(--outro-zoom-out); 
	animation-duration: 1.5s;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
}
.animTargetHeartIn
{
	opacity: 0;
	animation: animFadeIn 1.5s calc(var(--outro-zoom-out) + 1s) ease forwards;
}

.animHeartOut
{
	animation: animFadeOut 0.4s 0.2s ease-out forwards;
}

.animHeartBeat
{
	animation: animHeartBeat 1s infinite ease;
}

@keyframes animHeartBeat {
    0%, 30%, 60%, 100%
	{
		transform: scale(1.86) translate(-256px,-113px);
    }
	
    15%, 45%
	{
		transform: scale(1.88) translate(-256px,-113px);
    }
}

.animTilesIn
{
	animation: animFadeIn 0.2s ease;
}

.animTilesOut
{
	animation: animFadeOut 1s calc(var(--outro-zoom-out) - 1.5s) ease forwards;
}

.animGridOut
{
	animation: animFadeOut 1s 1s ease forwards;
}

#thanks
{
	position: absolute;
	background-color: rgba(0, 0, 0, 0.7);
	font-family: "Caveat", sans-serif;
	font-size: 4vh;
	text-align: center;
	padding: 2vh;
	bottom: 10vh;
	left: 0;
	width: 100%;
	opacity: 0;
	animation: animFadeIn 2s 0.5s ease forwards;
}