#outroNote
{
	position: absolute;
	left: 50vw;
	top: 30vh;
	transform: translate(-50%, -50%);
	width: min(14em, 90%);

	color: white;
	text-align: center;
	font-family: "Caveat", sans-serif;
	font-size: 4vh;
}

#outroName
{
	position: absolute;
	left: 50vw;
	bottom: 20vh;
	transform: translate(-50%, -50%);
	width: min(14em, 90%);

	color: white;
	text-align: center;
	font-family: "Roboto Slab", serif;
	font-size: 8vh;

	/* animation: animName 6s 4s ease-out forwards; */
}

.outroNameLetter
{
	display: inline-block;
	margin-left: 0.3em;
	opacity: 0;
	white-space: nowrap;
}
.animOutroNameLetter
{
	animation: animOutroNameLetter 4s ease forwards;
}

@keyframes animOutroNameLetter
{
	0%
	{
		opacity: 0;
        filter: drop-shadow(0 0 3vh white);
		padding-top: 0;
	}
    100%
	{
		opacity: 1;
        filter: drop-shadow(0 0 1vh white);
		padding-top: 8vh;
	}
}

/* #outroBox p
{
	font-family: "Caveat", sans-serif;
	font-size: 4vh;
}
#outroBox h1
{
    margin-top: 30vh;
	font-family: "Roboto Slab", serif;
	font-size: 10vh;
	opacity: 0;
	animation: animName 6s 2s ease-out forwards;
} */

.animOutroIn
{
	animation: animOutroIn 1.5s 0.5s ease forwards;
}
.animOutroOut
{
	animation: animOutroOut 0.2s ease forwards;
}
@keyframes animOutroIn
{
    0%
	{
        opacity: 0;
    }
	
    100%
	{
        opacity: 1;
    }
}
@keyframes animOutroOut
{
    0%
	{
        opacity: 1;
    }
	
    100%
	{
        opacity: 0;
    }
}

@keyframes animName
{
    0%
	{
        opacity: 0;
        letter-spacing: 0.2em;
        filter: drop-shadow(0 0 20px white);
    }
	
    100%
	{
        opacity: 1;
        letter-spacing: 0.1em;
        filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
    }
}

#heart, #heartHint
{
	overflow: visible;
}

#heart
{
	fill: red;
	opacity: 0;
}

.heartDraggable
{
	cursor: grab;
}

.animHeartIn
{
	opacity: 0;
	animation: animFadeIn 0.5s 0.3s ease forwards;
}

.animHeartOut
{
	opacity: 1;
	animation: animFadeOut 0.7s ease-out forwards;
}

#heartPolygon
{
	transform: scale(1.86) translate(-256px,-113px);
}

.animHeartBeat
{
	animation: animHeartBeat 1s infinite ease;
}

@keyframes animHeartBeat {
    0%, 30%, 60%, 100%
	{
		transform: scale(1.86) translate(-256px,-113px);
    }
	
    15%, 45%
	{
		transform: scale(1.88) translate(-256px,-113px);
    }
}

#heartHint
{
	/* fill: var(--color-highlight);
	fill-opacity: 0.05;

	stroke: var(--color-highlight);
	stroke-width: 7px;
	stroke-opacity: 0.5;*/
	
	fill: var(--color-highlight);
	fill-opacity: 0.05;

	stroke: var(--color-highlight);
	stroke-width: 0.14;
	stroke-opacity: 0.5;
}

.animHeartHintIn
{
	opacity: 0;
	animation: animFadeIn 1.5s ease forwards;
}

.animHeartHintPulse
{
	fill-opacity: 0;
	transform-origin: 1px 1px;

	animation-name: animHeartHintPulse;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
}
@keyframes animHeartHintPulse
{
    0%
	{
        transform: scale(1);
		fill-opacity: 0.2;
		stroke-opacity: 0.5;
		stroke-width: 0.14;
    }
	
    100%
	{
        transform: scale(1.2);
		fill-opacity: 0;
		stroke-opacity: 0;
		stroke-width: 0.8;
    }
}
/* @keyframes animHeartHintPulse
{
    0%
	{
        transform: scale(1.86) translate(-256px,-113px);
		fill-opacity: 0.2;
		stroke-opacity: 1;
    }
	
    100%
	{
        transform: scale(2) translate(-256px,-113px);
		fill-opacity: 0;
		stroke-opacity: 0;
    }
} */

#heartHighlight1, #heartHighlight2, #heartHighlight3
{
	opacity: 0;
	transform-origin: 256px 128px;
	animation: animHeartHighlight 1.5s 0.3s ease-out forwards;
}
#heartHighlight2
{
	animation-delay: 0.3s;
}
#heartHighlight3
{
	animation-delay: 0.6s;
}
@keyframes animHeartHighlight
{
    0%
	{
        transform: translate(-256px, -112px) scale(1.86);
		opacity: 0.5;
    }
	
    20%
	{
    }
	
    100%
	{
        transform: translate(-256px, -112px) scale(3);
		opacity: 0;
    }
}

.animTilesCurrent
{
	animation-name: animTilesCurrent;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
    animation-direction: alternate;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}
@keyframes animTilesCurrent
{
    0%
	{
        filter: drop-shadow(0 30px 40px var(--color-highlight));
    }
	
    100%
	{
        filter: drop-shadow(0 30px 20px var(--color-highlight));
    }
}

.animTilesIn
{
	animation: animFadeIn 0.2s ease;
}

.animTilesOut
{
	animation: animFadeOut 0.5s 0.3s ease forwards;
}

.animTilesSettle
{
	animation: animTilesSettle 0.3s ease forwards;
}
@keyframes animTilesSettle
{
	0%
	{
		transform: translate(0, 0);
	}
	75%
	{
		animation-timing-function: ease-in;
		transform: translate(0, -48px);
	}

	100%
	{
		animation-timing-function: ease-out;
		transform: translate(0, 0);
	}
}

.animGridOut
{
	animation: animGridOut 1s 1s ease forwards;
}
@keyframes animGridOut
{
	0% {opacity: 0.5;}
    100% {opacity: 0;}
}

.animOutroNoteOut
{
	animation: animFadeOut 1s ease forwards;
}


#creditsArea
{
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
	bottom: 10vh;
	background-color: rgba(0, 0, 0, 0.7);
	backdrop-filter: blur(10px);
	animation: animFadeIn 2s 1s ease forwards;
	opacity: 0;
}

#thanks
{
	font-family: "Caveat", sans-serif;
	font-size: 4vh;
	text-align: center;
	padding: 1vh;
	width: 100%;
}
#credits
{
	text-align: center;
	padding-bottom: 2vh;
	width: 90%;
	margin-left: 5%;
	font-family: "Tahoma", sans-serif;
	font-size: 1.8vh;
	color: var(--color-highlight);
	opacity: 0.8;
	letter-spacing: 0.1vh;
}
#credits a
{
	color: var(--color-highlight);
	font-weight: bold;
}