#outroBox
{
	position: absolute;
	left: 50vw;
	top: 50vh;
	transform: translate(-50%, -50%);
	width: 95%;

	color: white;
	text-align: center;
    opacity: 0;
}

#outroBox p
{
	font-family: "Caveat", sans-serif;
	font-size: 4vh;
}
#outroBox h1
{
    margin-top: 20vh;
	font-family: "Roboto Slab", sans-serif;
	font-size: 10vh;
}

.animateOutroIn
{
	animation-name: animateOutro;
	animation-delay: 4.5s; 
	animation-duration: 1.5s;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
}
.animateOutroOut
{
	animation-name: animateOutro;
	animation-duration: 0.2s;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
	animation-direction: reverse;
}
@keyframes animateOutro {
    0% {
        opacity: 0;
    }
	
    100% {
        opacity: 1;
    }
}